<div class="container-fluid text-center vh-100 bg-light">
  <div class="row align-items-center vh-100">
    <div class="col">
      <h1 class="display-1">404</h1>
      <h3>A pagina que você procura não foi encontrada</h3>
      <p class="lead">
        Verifique o endereço requisitado e tente novamente.
      </p>

      <button type="button" class="btn btn-primary btn-lg" action="">Voltar para a home</button>
    </div>
  </div>
</div>
<div>