<link rel="stylesheet" href="tabulator.min.css">
<link href="tabulator_bootstrap.min.css" rel="stylesheet">

<div class="card">
    <div class="card-header">Novidade</div>
    <div class="card-body">
        <h5 class="card-title">Sites estaticos no Amazon S3</h5>
        <p class="card-text">Com o chappie você pode configurar um site estatico na AWS em poucos minutos.</p>
        <a href="/host/static_sites" class="btn btn-primary">Implementar agora</a>
    </div>
</div>
<!-- 
<div class="card mt-3">
    <div class="card-header">Estatisticas de uso</div>
    <div class="card-body">
        <canvas id="myChart" width="0" height="400"></canvas>
    </div>
</div> -->
<!-- 
<div id="table-sites" class="mt-3"></div> -->

<script type='text/javascript' src="tabulator.min.js"></script>
<script type='text/javascript' src="dashboard_home.js"></script>